# Android / IntelliJ
.gradle
/local.properties
/.idea
/build
/captures
.externalNativeBuild
/*.iml

# Kotlin / Java
*.class
*.log

# OS
.DS_Store
Thumbs.db

# Gradle
.gradle/
build/

# Android Studio
.idea/
*.iml
